$compassGrid: (
	name:"c",
	columns: 12,
	gutters: 0.5rem,
	gridSize: flex, // flex || rem value
	outputMod: css, // css || extend
	onlyAutoHeightGrid: false,
	breakpoints: (
		xs: 480px,
		sm: 768px,
		md: 992px,
		lg: 1200px,
	)
);
@include compassGrid( $compassGrid );