$compassGrid: (
	name:"c",
	columns: 12,
	gridSize: flex, // flex || rem value
	outputMod: css, // css || extend
	debug: true,	
	breakpoints: (
		xs: 480px,
		sm: 768px,
		md: 992px,
		lg: 1200px,
	)
);
